.cartIcon {
  display: none;
}
.minicartContainer :global(.vtex-button__label) {
  padding: 0;
}
.minicartContainer :global(.vtex-button) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.minicartContainer :global(.vtex-button)::before {
  content: '';
  display: block;
  background-image: url('https://bravtexgrocerystore.vtexassets.com/arquivos/shopping-cart.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 28px;
  height: 28px;
}
@media (min-width: 64rem) {
  .minicartContainer :global(.vtex-button)::after {
    content: 'Carrinho';
    font-size: 20px;
    text-transform: none;
  }
}
.openIconContainer {
  padding: 12px 0;
}
.minicartQuantityBadgeDefault {
  top: -20px;
  right: 0;
}
@media only screen and (max-width: 640px) {
  .openIconContainer {
    margin: 0;
  }
  .minicartContainer :global(.vtex-button) {
    margin: 0 11px;
  }
}
.minicartCheckoutButton {
  padding-bottom: 75px;
}

:global(.vtex-product-list-0-x-productPrice) {
  font-size: 20px;
  color: #f71963;
}

:global(.vtex-product-list-0-x-inputContainer) {
  padding: 0;
  width: 4rem;
}

:global(.vtex-checkout-summary-0-x-summaryItemContainer),
:global(.vtex-checkout-summary-0-x-summaryItemLabel) {
  color: #f71963;
}

:global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
  color: #a1a8b3;
}
