.triggerContainer {
  display: flex;
  color: #142032;
  column-gap: 5px;
}

.triggerContainer::after {
  content: 'Categorias';
  font-family: Fabriga, Nunito, 'San Francisco', -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
    'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

.menuContainer {
  max-height: unset;
}

.styledLinkText {
  color: #142032;
}

.seeAllLink {
  display: none;
}

.submenuContainerVertical {
  margin-top: 50px;
}

.submenuListVertical :global(.vtex-mega-menu-0-x-seeAllLinkContainer) {
  display: none;
}

.submenuItemVertical :global(.vtex-mega-menu-0-x-seeAllLinkContainer) {
  display: block;
}

.submenuList .seeAllLinkContainer,
.submenuItemVertical .seeAllLinkContainer {
  margin-top: 0;
  margin-bottom: 0;
}

.submenuList .seeAllLink,
.submenuItemVertical .seeAllLink {
  position: absolute;
  display: block;
  color: transparent;
  margin-top: -20px;
  width: 70%;
}

.submenuItemVertical .seeAllLink {
  width: 100%;
  margin-top: -40px;
  height: 30px;
}
