/* @media (max-width: 64rem) and (min-width: 641px) {
  .wrapper--sticky-mobile {
    display: none;
  }
}
@media (max-width: 640px) {
  .wrapper--sticky-tablet {
    display: none;
  }
} */
.container :global(.vtex-button):hover,
.container :global(.vtex-button):active,
.container :global(.vtex-button):focus {
  background-color: #eee;
}
