.arrow {
  top: 50%;
  transform: translate(0, -50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  align-items: center;
  color: var(--color-primary);
}

.sliderContainer--pdp-related-products {
  padding: 0 32px;
  margin-bottom: 32px;
}

.title--pdp-related-products {
  justify-content: flex-start;
  padding-left: 42px;
  font-size: 32px;
  font-weight: 300;
  line-height: 52px;
  color: var(--color-primary);
}

.sliderContainer--pdp-related-products :global(.vtex-product-summary-2-x-container) {
  box-shadow: 0px 0px 32px 0px #0000000f;
  padding: 24px;
  margin-right: 16px;
  margin-left: 16px;
}

.sliderContainer--pdp-related-products :global(.vtex-product-price-1-x-sellingPrice--summary) {
  display: inline-block;
  margin-top: 0;
}

.sliderContainer--pdp-related-products :global(.vtex-product-price-1-x-sellingPriceValue--summary) {
  color: var(--color-primary) !important;
}
