.document-box {
  display: block;
}

.phone-box {
  display: block;
}

/* Footer Checkout UI */
.main-footer {
  background-color: #f8f5f2;
  position: unset;
}
.main-footer .container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0;
}
.payment-methods-info-content,
.copyright-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1238px;
  margin: 0 auto;
  padding: 0;
}
.payment-methods-info-content {
  padding: 65px 0;
}
.copyright-content {
  padding: 0 0 40px 0;
}
.payment-info {
  font-size: 16px;
  font-weight: bold;
  color: #06623a;
  line-height: 24px;
}
.copyright-text,
.developed-by {
  color: #807c78;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.015em;
  margin: 0;
}
.copyright-content .logo-footer {
  width: 37px;
  height: 32px;
}
.copyright-content .acct-logo {
  margin-left: 4px;
}
.copyright-content .vtex-logo {
  margin-left: 8px !important;
  display: inline-flex !important;
}
.payment-methods-cards .accepted-card {
  margin: 0 8px;
}
.payment-methods-cards .accepted-card:first-child {
  margin: 0 8px 0 0;
}
.payment-methods-cards .accepted-card:last-child {
  margin: 0 0 0 8px;
}
.payment-info p {
  margin: 0;
}

.checkout--gigadigital-myvtex-com {
  background: #fff;
}

body {
  padding-bottom: 0 !important;
}

.main-header {
  box-shadow: 0px 4px 4px rgba(153, 150, 150, 0.25);
}

.emailInfo {
  background: #f1efed !important;
}

.client-email .btn-success {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px !important;
  background: #fdb31b;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #06623a;
}

#client-profile-data:before {
  content: 'Checkout';
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  color: #06623a;
}

.client-pre-email {
  margin-top: 17px !important;
}

.client-pre-email .emailInfo .icon-ok,
.client-pre-email .emailInfo h3 {
  color: #4d4a48 !important;
}

.client-pre-email,
.step.client-profile-data,
.span6.shipping-data,
.payment-data {
  border: 1px solid #c4c4c4 !important;
  border-radius: 5px !important;
}

.accordion-heading {
  color: #06623a;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.client-profile-data .accordion-toggle {
  display: flex;
}

.client-profile-data .accordion-toggle:before {
  content: '' !important;
  display: flex;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z' stroke='%2306623A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 21V19C6 17.9391 6.42143 16.9217 7.17157 16.1716C7.92172 15.4214 8.93913 15 10 15H14C15.0609 15 16.0783 15.4214 16.8284 16.1716C17.5786 16.9217 18 17.9391 18 19V21' stroke='%2306623A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") !important;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.client-profile-data .accordion-toggle > span {
  margin-top: 5px;
}

.client-profile-data .accordion-toggle > span:before {
  display: none;
}

.step.client-profile-data.active .box-step .form-step[style*='display: block'] {
  padding: 0 !important;
}

.orderform-template-holder .step.client-profile-data .client-notice.notice {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #333230;
}

.orderform-template-holder .step .input.text label {
  margin: 26px 0 3px 0;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
}

input.success {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.835 0.844666L13.9991 1.88715L5.69995 11.1553L0.339844 6.05981L1.41635 4.92746L5.60977 8.91367L12.835 0.844666Z' fill='%234D4A48'/%3E%3C/svg%3E%0A") !important;
  background-position: calc(100% - 14px) center !important;
}

.orderform-template-holder .step.shipping-data .box-step > *.vtex-omnishipping-1-x-addressForm {
  max-width: 346px;
}

.delivery-address-title {
  border-bottom: 1px solid #ccc6c0;
  font-weight: 600;
  font-size: 16px !important;
  line-height: 22px;
  color: #4d4a48 !important;
  margin-bottom: 15px !important;
}

.btn-submit-wrapper .btn-success {
  padding: 12px 24px;
  width: 349px;
  height: 48px;
  background: #06623a;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 17px 0 0 !important;
  color: #fdb31b;
  border: none !important;
}

.orderform-template-holder #client-profile-data form.client-pre-email,
.orderform-template-holder #client-profile-data .step.client-profile-data,
.orderform-template-holder #payment-data {
  padding: 15px 22px !important;
}

.orderform-template-holder #shipping-data {
  padding: 15px 22px 61px !important;
}

.shipping-data .accordion-toggle:before {
  content: '' !important;
  background: #fff !important;
  border-color: #fff !important;
  color: #06623a !important;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M18.1268 14.2691C16.4586 14.2691 15.1016 15.6262 15.1016 17.2943C15.1016 18.9625 16.4586 20.3195 18.1268 20.3195C19.7952 20.3195 21.152 18.9625 21.152 17.2943C21.152 15.6262 19.7949 14.2691 18.1268 14.2691ZM18.1268 18.8069C17.2926 18.8069 16.6142 18.1285 16.6142 17.2943C16.6142 16.4601 17.2926 15.7817 18.1268 15.7817C18.961 15.7817 19.6394 16.4601 19.6394 17.2943C19.6394 18.1286 18.961 18.8069 18.1268 18.8069Z' fill='%2306623A'/%3E%3Cpath d='M7.79084 14.2691C6.1227 14.2691 4.76562 15.6262 4.76562 17.2943C4.76562 18.9625 6.1227 20.3195 7.79084 20.3195C9.45898 20.3195 10.8161 18.9625 10.8161 17.2943C10.8161 15.6262 9.45898 14.2691 7.79084 14.2691ZM7.79084 18.8069C6.95666 18.8069 6.27823 18.1285 6.27823 17.2943C6.27823 16.4601 6.95666 15.7817 7.79084 15.7817C8.6248 15.7817 9.30345 16.4601 9.30345 17.2943C9.30345 18.1286 8.62503 18.8069 7.79084 18.8069Z' fill='%2306623A'/%3E%3Cpath d='M20.163 5.60972C20.0344 5.35435 19.773 5.19324 19.4871 5.19324H15.5039V6.70585H19.0207L21.0801 10.802L22.4319 10.1223L20.163 5.60972Z' fill='%2306623A'/%3E%3Cpath d='M15.8575 16.5627H10.1348V18.0754H15.8575V16.5627Z' fill='%2306623A'/%3E%3Cpath d='M5.52067 16.5627H2.89886C2.48111 16.5627 2.14258 16.9013 2.14258 17.319C2.14258 17.7368 2.48116 18.0753 2.89886 18.0753H5.52072C5.93847 18.0753 6.277 17.7367 6.277 17.319C6.277 16.9013 5.93842 16.5627 5.52067 16.5627Z' fill='%2306623A'/%3E%3Cpath d='M23.8409 11.9395L22.3532 10.0236C22.2103 9.83902 21.9897 9.73112 21.756 9.73112H16.2602V4.43701C16.2602 4.01926 15.9216 3.68073 15.5039 3.68073H2.89886C2.48111 3.68073 2.14258 4.0193 2.14258 4.43701C2.14258 4.85471 2.48116 5.19329 2.89886 5.19329H14.7476V10.4874C14.7476 10.9051 15.0862 11.2437 15.5039 11.2437H21.3857L22.4871 12.6625V16.563H20.3946C19.9769 16.563 19.6383 16.9016 19.6383 17.3193C19.6383 17.737 19.9769 18.0756 20.3946 18.0756H23.2434C23.6611 18.0756 23.9996 17.737 23.9997 17.3193V12.4034C23.9997 12.2355 23.9437 12.0721 23.8409 11.9395Z' fill='%2306623A'/%3E%3Cpath d='M5.46967 12.7309H1.99066C1.57291 12.7309 1.23438 13.0695 1.23438 13.4872C1.23438 13.9049 1.57295 14.2435 1.99066 14.2435H5.46962C5.88737 14.2435 6.22591 13.9049 6.22591 13.4872C6.22595 13.0695 5.88737 12.7309 5.46967 12.7309Z' fill='%2306623A'/%3E%3Cpath d='M7.21008 9.75653H0.756281C0.338578 9.75653 0 10.0951 0 10.5129C0 10.9306 0.338578 11.2691 0.756281 11.2691H7.21008C7.62783 11.2691 7.96636 10.9306 7.96636 10.5129C7.96636 10.0952 7.62783 9.75653 7.21008 9.75653Z' fill='%2306623A'/%3E%3Cpath d='M8.44445 6.78174H1.99066C1.57291 6.78174 1.23438 7.12032 1.23438 7.53802C1.23438 7.95577 1.57295 8.2943 1.99066 8.2943H8.44445C8.8622 8.2943 9.20073 7.95572 9.20073 7.53802C9.20078 7.12032 8.8622 6.78174 8.44445 6.78174Z' fill='%2306623A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") !important;
  width: 24px;
  height: 24px;
}

#ship-postalCode {
  max-width: 172px !important;
}

.input.ship-postalCode {
  margin-bottom: 23px !important;
}

.ship-postalCode label {
  margin-top: 8px !important;
}

.ship-postalCode small {
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #4d4a48;
}

.payment-data .accordion-toggle > span:before {
  content: '' !important;
  background: #fff !important;
  border-color: #fff !important;
  color: #06623a !important;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='15' viewBox='0 0 23 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.1562 0H2.34373C1.05187 0 0 1.05187 0 2.34378V12.6563C0 13.9481 1.05187 15 2.34373 15H20.1562C21.448 15 22.4999 13.9481 22.4999 12.6563V2.34378C22.5 1.05187 21.4481 0 20.1562 0ZM21.5625 12.6562C21.5625 13.4316 20.9316 14.0625 20.1562 14.0625H2.34373C1.56841 14.0625 0.937484 13.4316 0.937484 12.6562V2.34378C0.937484 1.56845 1.56841 0.937528 2.34373 0.937528H20.1562C20.9315 0.937528 21.5624 1.56845 21.5624 2.34378L21.5625 12.6562Z' fill='%2306623A'/%3E%3Cpath d='M22.0312 2.81249H0.468764C0.210014 2.81249 0 3.02251 0 3.28126V6.09375C0 6.3525 0.210014 6.56252 0.468764 6.56252H22.0312C22.29 6.56252 22.5 6.3525 22.5 6.09375V3.28126C22.5 3.02251 22.2899 2.81249 22.0312 2.81249ZM21.5625 5.62499H0.937484V3.74998H21.5624L21.5625 5.62499Z' fill='%2306623A'/%3E%3Cpath d='M8.90625 9.37501H3.28126C3.02251 9.37501 2.81249 9.58503 2.81249 9.84378C2.81249 10.1025 3.02251 10.3125 3.28126 10.3125H8.90625C9.165 10.3125 9.37501 10.1025 9.37501 9.84373C9.37501 9.58498 9.165 9.37501 8.90625 9.37501Z' fill='%2306623A'/%3E%3Cpath d='M8.90625 11.25H3.28126C3.02251 11.25 2.81249 11.46 2.81249 11.7187C2.81249 11.9775 3.02251 12.1875 3.28126 12.1875H8.90625C9.165 12.1875 9.37501 11.9775 9.37501 11.7187C9.37497 11.46 9.165 11.25 8.90625 11.25Z' fill='%2306623A'/%3E%3Cpath d='M18.2812 8.43748H17.3437C16.5684 8.43748 15.9375 9.06841 15.9375 9.84373V10.7812C15.9375 11.5565 16.5684 12.1875 17.3437 12.1875H18.2812C19.0565 12.1875 19.6875 11.5565 19.6875 10.7812V9.84373C19.6875 9.06845 19.0565 8.43748 18.2812 8.43748ZM18.75 10.7813C18.75 11.04 18.54 11.25 18.2812 11.25H17.3437C17.085 11.25 16.875 11.04 16.875 10.7813V9.84378C16.875 9.58503 17.085 9.37501 17.3437 9.37501H18.2812C18.54 9.37501 18.75 9.58503 18.75 9.84378V10.7813Z' fill='%2306623A'/%3E%3C/svg%3E%0A") !important;
  width: 22px !important;
  height: 15px !important;
  border-radius: 0 !important;
}

.shipping-method-wrapper {
  box-shadow: none !important;
}

#shipping-option-delivery:before,
#shipping-option-pickup-in-point:before {
  background-repeat: no-repeat;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Nunito';
}

#shipping-option-delivery.shp-method-option-inactive:before {
  content: 'Receba em casa' !important;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='23' viewBox='0 0 17 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4004 20.4318C12.7596 20.4318 13.0518 20.1396 13.0518 19.7805V17.8039C13.0518 17.4447 12.7596 17.1525 12.4004 17.1525H4.49316C4.13401 17.1525 3.8418 17.4447 3.8418 17.8039V19.7805C3.8418 20.1396 4.13401 20.4318 4.49316 20.4318H12.4004ZM4.51562 17.8264H12.3779V19.758H4.51562V17.8264Z' fill='%2306623A'/%3E%3Cpath d='M16.8942 21.9164L16.0112 7.5166C16.0003 7.33889 15.853 7.2003 15.6749 7.2003H15.0725V3.21164C15.0725 2.79782 14.9877 2.39771 14.8206 2.02238C14.7448 1.8524 14.5457 1.77603 14.3757 1.85168C14.2058 1.92742 14.1294 2.12656 14.205 2.29654C14.3335 2.58498 14.3987 2.89283 14.3987 3.2116V7.20026H12.7764C12.776 7.19896 12.7756 7.19765 12.7752 7.19635C12.5818 6.53649 12.2551 5.98022 11.841 5.57121H12.1236C12.7635 5.57121 13.2842 5.05057 13.2842 4.41065C13.2842 3.77074 12.7635 3.25014 12.1236 3.25014L9.89557 3.2501V3.2116C9.89557 1.97005 10.9056 0.960025 12.1471 0.960025C12.5601 0.96007 12.9638 1.07273 13.3146 1.28589C13.4735 1.38238 13.6808 1.33193 13.7774 1.17291C13.8741 1.01393 13.8235 0.806707 13.6645 0.710035C13.2083 0.432777 12.6836 0.286197 12.1471 0.286152C10.5341 0.286152 9.22174 1.5985 9.22174 3.21155V4.98282C9.2093 4.98786 9.19694 4.99302 9.18455 4.99828C9.11541 4.62835 8.97418 4.20487 8.70065 3.78512C8.59903 3.62919 8.39024 3.58512 8.23445 3.68683C8.07852 3.7884 8.03454 3.99715 8.13616 4.15303C8.31666 4.43006 8.4246 4.71127 8.48763 4.96809C8.22007 4.86504 7.94043 4.81158 7.65828 4.81158C7.50546 4.81158 7.35528 4.82713 7.20843 4.85632C6.89106 4.46847 6.48097 4.15981 6.02187 3.96395V2.13127C6.20214 2.04799 6.32778 1.86596 6.32778 1.6547V0.525137C6.32778 0.23557 6.09221 0 5.80265 0H3.826C3.53643 0 3.30081 0.23557 3.30081 0.525137V1.6547C3.30081 1.86596 3.42651 2.04799 3.60678 2.13127V3.96364C2.46657 4.44673 1.72424 5.57386 1.72424 6.80813V7.2003H1.11523C0.936216 7.2003 0.788469 7.34028 0.77881 7.51907L0.207719 18.1003C0.197701 18.2861 0.340193 18.4448 0.52599 18.4549C0.711293 18.4638 0.870541 18.3224 0.880603 18.1366L1.43445 7.87418H15.358L16.2216 21.957C16.222 21.9636 16.2222 21.9703 16.2222 21.9768C16.2222 22.1694 16.0422 22.3262 15.8211 22.3262H1.07494C0.853785 22.3262 0.673828 22.1695 0.673828 21.9769C0.673828 21.971 0.674007 21.9652 0.674277 21.9599L0.79588 19.7066C0.805898 19.5208 0.663406 19.362 0.477609 19.352C0.292351 19.3423 0.133059 19.4844 0.122996 19.6703L0.0013476 21.9241C0.000404242 21.9418 0 21.9593 0 21.9769C0 22.541 0.482236 23 1.07494 23H15.8211C16.4138 23 16.896 22.541 16.896 21.9768C16.896 21.957 16.8954 21.937 16.8942 21.9164ZM9.89548 4.81994V3.92406H12.1235C12.3919 3.92406 12.6102 4.14238 12.6102 4.41074C12.6102 4.67915 12.3919 4.89747 12.1235 4.89747H10.7096C10.4412 4.8225 10.1632 4.79689 9.89548 4.81994ZM3.97451 0.673828H5.65387V1.50601H3.97451V0.673828ZM2.39788 6.80813C2.39788 5.77718 3.05851 4.84644 4.05007 4.51591C4.18766 4.47004 4.28043 4.3413 4.28043 4.19629V2.17983H5.34795V4.19624C5.34795 4.3413 5.44076 4.47004 5.57835 4.51586C5.93449 4.63454 6.26072 4.83872 6.52643 5.10519C5.81882 5.49112 5.25285 6.23493 4.97096 7.19864C4.97078 7.19922 4.9706 7.19976 4.97042 7.2003H2.39788V6.80813ZM5.67857 7.2003C6.04383 6.17236 6.81752 5.48546 7.65819 5.48546C7.9757 5.48546 8.28076 5.5775 8.56682 5.75885C8.56054 5.907 8.544 5.99752 8.54302 6.00264C8.5064 6.18448 8.6237 6.36184 8.80558 6.39917C8.82845 6.40384 8.85123 6.40613 8.87369 6.40613C9.03028 6.40613 9.17062 6.29629 9.20337 6.13687C9.20692 6.11962 9.23728 5.96392 9.24312 5.72031C10.4079 5.04181 11.607 5.90269 12.0681 7.2003H5.67857Z' fill='%2306623A'/%3E%3C/svg%3E%0A");
  background-size: contain;
  padding-left: 25px;
  height: 23px;
}

#shipping-option-delivery.shp-method-option-active:before {
  content: 'Receba em casa' !important;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='23' viewBox='0 0 17 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4004 20.4318C12.7596 20.4318 13.0518 20.1396 13.0518 19.7805V17.8039C13.0518 17.4447 12.7596 17.1525 12.4004 17.1525H4.49316C4.13401 17.1525 3.8418 17.4447 3.8418 17.8039V19.7805C3.8418 20.1396 4.13401 20.4318 4.49316 20.4318H12.4004ZM4.51562 17.8264H12.3779V19.758H4.51562V17.8264Z' fill='white'/%3E%3Cpath d='M16.8942 21.9164L16.0112 7.5166C16.0003 7.33889 15.853 7.2003 15.6749 7.2003H15.0725V3.21164C15.0725 2.79782 14.9877 2.39771 14.8206 2.02238C14.7448 1.8524 14.5457 1.77603 14.3757 1.85168C14.2058 1.92742 14.1294 2.12656 14.205 2.29654C14.3335 2.58498 14.3987 2.89283 14.3987 3.2116V7.20026H12.7764C12.776 7.19896 12.7756 7.19765 12.7752 7.19635C12.5818 6.53649 12.2551 5.98022 11.841 5.57121H12.1236C12.7635 5.57121 13.2842 5.05057 13.2842 4.41065C13.2842 3.77074 12.7635 3.25014 12.1236 3.25014L9.89557 3.2501V3.2116C9.89557 1.97005 10.9056 0.960025 12.1471 0.960025C12.5601 0.96007 12.9638 1.07273 13.3146 1.28589C13.4735 1.38238 13.6808 1.33193 13.7774 1.17291C13.8741 1.01393 13.8235 0.806707 13.6645 0.710035C13.2083 0.432777 12.6836 0.286197 12.1471 0.286152C10.5341 0.286152 9.22174 1.5985 9.22174 3.21155V4.98282C9.2093 4.98786 9.19694 4.99302 9.18455 4.99828C9.11541 4.62835 8.97418 4.20487 8.70065 3.78512C8.59903 3.62919 8.39024 3.58512 8.23445 3.68683C8.07852 3.7884 8.03454 3.99715 8.13616 4.15303C8.31666 4.43006 8.4246 4.71127 8.48763 4.96809C8.22007 4.86504 7.94043 4.81158 7.65828 4.81158C7.50546 4.81158 7.35528 4.82713 7.20843 4.85632C6.89106 4.46847 6.48097 4.15981 6.02187 3.96395V2.13127C6.20214 2.04799 6.32778 1.86596 6.32778 1.6547V0.525137C6.32778 0.23557 6.09221 0 5.80265 0H3.826C3.53643 0 3.30081 0.23557 3.30081 0.525137V1.6547C3.30081 1.86596 3.42651 2.04799 3.60678 2.13127V3.96364C2.46657 4.44673 1.72424 5.57386 1.72424 6.80813V7.2003H1.11523C0.936216 7.2003 0.788469 7.34028 0.77881 7.51907L0.207719 18.1003C0.197701 18.2861 0.340193 18.4448 0.52599 18.4549C0.711293 18.4638 0.870541 18.3224 0.880603 18.1366L1.43445 7.87418H15.358L16.2216 21.957C16.222 21.9636 16.2222 21.9703 16.2222 21.9768C16.2222 22.1694 16.0422 22.3262 15.8211 22.3262H1.07494C0.853785 22.3262 0.673828 22.1695 0.673828 21.9769C0.673828 21.971 0.674007 21.9652 0.674277 21.9599L0.79588 19.7066C0.805898 19.5208 0.663406 19.362 0.477609 19.352C0.292351 19.3423 0.133059 19.4844 0.122996 19.6703L0.0013476 21.9241C0.000404242 21.9418 0 21.9593 0 21.9769C0 22.541 0.482236 23 1.07494 23H15.8211C16.4138 23 16.896 22.541 16.896 21.9768C16.896 21.957 16.8954 21.937 16.8942 21.9164ZM9.89548 4.81994V3.92406H12.1235C12.3919 3.92406 12.6102 4.14238 12.6102 4.41074C12.6102 4.67915 12.3919 4.89747 12.1235 4.89747H10.7096C10.4412 4.8225 10.1632 4.79689 9.89548 4.81994ZM3.97451 0.673828H5.65387V1.50601H3.97451V0.673828ZM2.39788 6.80813C2.39788 5.77718 3.05851 4.84644 4.05007 4.51591C4.18766 4.47004 4.28043 4.3413 4.28043 4.19629V2.17983H5.34795V4.19624C5.34795 4.3413 5.44076 4.47004 5.57835 4.51586C5.93449 4.63454 6.26072 4.83872 6.52643 5.10519C5.81882 5.49112 5.25285 6.23493 4.97096 7.19864C4.97078 7.19922 4.9706 7.19976 4.97042 7.2003H2.39788V6.80813ZM5.67857 7.2003C6.04383 6.17236 6.81752 5.48546 7.65819 5.48546C7.9757 5.48546 8.28076 5.5775 8.56682 5.75885C8.56054 5.907 8.544 5.99752 8.54302 6.00264C8.5064 6.18448 8.6237 6.36184 8.80558 6.39917C8.82845 6.40384 8.85123 6.40613 8.87369 6.40613C9.03028 6.40613 9.17062 6.29629 9.20337 6.13687C9.20692 6.11962 9.23728 5.96392 9.24312 5.72031C10.4079 5.04181 11.607 5.90269 12.0681 7.2003H5.67857Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: contain;
  padding-left: 25px;
  height: 23px;
}

#shipping-option-pickup-in-point.shp-method-option-inactive:before {
  content: 'Clique e Retire' !important;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M17.0513 12.9343H13.7902C12.8977 12.9343 12.1719 13.6601 12.1719 14.5526V17.0536C12.1719 17.9461 12.8977 18.6719 13.7902 18.6719H17.0513C17.9438 18.6719 18.6696 17.9461 18.6696 17.0536V14.5526C18.6696 13.6601 17.9438 12.9343 17.0513 12.9343ZM17.4927 17.0536C17.4927 17.2988 17.2916 17.495 17.0513 17.495H13.7902C13.545 17.495 13.3488 17.2939 13.3488 17.0536V14.5526C13.3488 14.3074 13.5499 14.1112 13.7902 14.1112H17.0513C17.2965 14.1112 17.4927 14.3123 17.4927 14.5526V17.0536Z' fill='%2306623A'/%3E%3Cpath d='M24 8.38838C24 8.28539 23.9755 8.18731 23.9215 8.09904L20.3514 1.82197C20.2485 1.64052 20.0523 1.52283 19.8414 1.52283H4.15366C3.94279 1.52283 3.74663 1.63562 3.64365 1.82197L0.0784634 8.09904C0.0294238 8.18731 0 8.28539 0 8.38838C0 9.79581 0.848386 11.0022 2.05966 11.5367V21.889C2.05966 22.2127 2.32448 22.4775 2.64814 22.4775H5.89947C5.90437 22.4775 5.90928 22.4775 5.91418 22.4775H10.4749C10.4798 22.4775 10.4847 22.4775 10.4896 22.4775H21.347C21.6706 22.4775 21.9354 22.2127 21.9354 21.889V11.6103C21.9354 11.5858 21.9354 11.5661 21.9305 11.5465C23.1467 11.012 24 9.80072 24 8.38838ZM4.49693 2.70468H19.4982L22.2885 7.61355H1.71148L4.49693 2.70468ZM17.0805 8.7856C16.8942 9.84485 15.9673 10.6491 14.8541 10.6491C13.7409 10.6491 12.8141 9.84485 12.6277 8.7856H17.0805ZM11.3772 8.7856C11.1908 9.84485 10.264 10.6491 9.1508 10.6491C8.0376 10.6491 7.11075 9.84485 6.91949 8.7856H11.3772ZM1.21618 8.7856H5.67389C5.48754 9.84485 4.55578 10.6491 3.44258 10.6491C2.32938 10.654 1.40253 9.84485 1.21618 8.7856ZM9.88639 21.3005H6.50266V14.9499C6.50266 14.4889 6.87536 14.1113 7.34123 14.1113H9.05272C9.51369 14.1113 9.8913 14.484 9.8913 14.9499V21.3005H9.88639ZM20.7585 21.3005H11.0633V14.9499C11.0633 13.8416 10.161 12.9344 9.04781 12.9344H7.33633C6.22803 12.9344 5.3208 13.8367 5.3208 14.9499V21.3054H3.23662V11.8261C3.30527 11.831 3.37393 11.831 3.44258 11.831C4.62934 11.831 5.67879 11.2278 6.29669 10.3107C6.91459 11.2278 7.96404 11.831 9.1508 11.831C10.3376 11.831 11.3821 11.2278 12.0049 10.3107C12.6228 11.2278 13.6723 11.831 14.8541 11.831C16.0409 11.831 17.0854 11.2278 17.7033 10.3107C18.3212 11.2278 19.3707 11.831 20.5574 11.831C20.6261 11.831 20.6898 11.8261 20.7585 11.8261V21.3005ZM20.5574 10.654C19.4442 10.654 18.5174 9.84976 18.331 8.7905H22.7887C22.5975 9.84485 21.6706 10.654 20.5574 10.654Z' fill='%2306623A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  height: 24px;
  padding-left: 32px;
}

.shp-method-option {
  padding: 20px 0 !important;
}

#shipping-option-pickup-in-point.shp-method-option-active:before {
  content: 'Clique e Retire' !important;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M17.0513 12.9343H13.7902C12.8977 12.9343 12.1719 13.6601 12.1719 14.5526V17.0536C12.1719 17.9461 12.8977 18.6719 13.7902 18.6719H17.0513C17.9438 18.6719 18.6696 17.9461 18.6696 17.0536V14.5526C18.6696 13.6601 17.9438 12.9343 17.0513 12.9343ZM17.4927 17.0536C17.4927 17.2988 17.2916 17.495 17.0513 17.495H13.7902C13.545 17.495 13.3488 17.2939 13.3488 17.0536V14.5526C13.3488 14.3074 13.5499 14.1112 13.7902 14.1112H17.0513C17.2965 14.1112 17.4927 14.3123 17.4927 14.5526V17.0536Z' fill='white'/%3E%3Cpath d='M24 8.38838C24 8.28539 23.9755 8.18731 23.9215 8.09904L20.3514 1.82197C20.2485 1.64052 20.0523 1.52283 19.8414 1.52283H4.15366C3.94279 1.52283 3.74663 1.63562 3.64365 1.82197L0.0784634 8.09904C0.0294238 8.18731 0 8.28539 0 8.38838C0 9.79581 0.848386 11.0022 2.05966 11.5367V21.889C2.05966 22.2127 2.32448 22.4775 2.64814 22.4775H5.89947C5.90437 22.4775 5.90928 22.4775 5.91418 22.4775H10.4749C10.4798 22.4775 10.4847 22.4775 10.4896 22.4775H21.347C21.6706 22.4775 21.9354 22.2127 21.9354 21.889V11.6103C21.9354 11.5858 21.9354 11.5661 21.9305 11.5465C23.1467 11.012 24 9.80072 24 8.38838ZM4.49693 2.70468H19.4982L22.2885 7.61355H1.71148L4.49693 2.70468ZM17.0805 8.7856C16.8942 9.84485 15.9673 10.6491 14.8541 10.6491C13.7409 10.6491 12.8141 9.84485 12.6277 8.7856H17.0805ZM11.3772 8.7856C11.1908 9.84485 10.264 10.6491 9.1508 10.6491C8.0376 10.6491 7.11075 9.84485 6.91949 8.7856H11.3772ZM1.21618 8.7856H5.67389C5.48754 9.84485 4.55578 10.6491 3.44258 10.6491C2.32938 10.654 1.40253 9.84485 1.21618 8.7856ZM9.88639 21.3005H6.50266V14.9499C6.50266 14.4889 6.87536 14.1113 7.34123 14.1113H9.05272C9.51369 14.1113 9.8913 14.484 9.8913 14.9499V21.3005H9.88639ZM20.7585 21.3005H11.0633V14.9499C11.0633 13.8416 10.161 12.9344 9.04781 12.9344H7.33633C6.22803 12.9344 5.3208 13.8367 5.3208 14.9499V21.3054H3.23662V11.8261C3.30527 11.831 3.37393 11.831 3.44258 11.831C4.62934 11.831 5.67879 11.2278 6.29669 10.3107C6.91459 11.2278 7.96404 11.831 9.1508 11.831C10.3376 11.831 11.3821 11.2278 12.0049 10.3107C12.6228 11.2278 13.6723 11.831 14.8541 11.831C16.0409 11.831 17.0854 11.2278 17.7033 10.3107C18.3212 11.2278 19.3707 11.831 20.5574 11.831C20.6261 11.831 20.6898 11.8261 20.7585 11.8261V21.3005ZM20.5574 10.654C19.4442 10.654 18.5174 9.84976 18.331 8.7905H22.7887C22.5975 9.84485 21.6706 10.654 20.5574 10.654Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  padding-left: 32px;
  height: 24px;
}

.shp-method-option-text {
  display: none;
}

.shp-method-option-inactive {
  color: #06623a;
}

.custom-cart-template-wrap {
  background-color: #f8f5f2 !important;
  border-radius: 5px !important;
}

.orderform-template .cart-template.mini-cart h2 {
  display: flex;
  align-items: center;
}

.orderform-template .cart-template.mini-cart .custom-cart-template-wrap:before {
  content: 'Resumo da compra' !important;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 21C10.1046 21 11 20.1046 11 19C11 17.8954 10.1046 17 9 17C7.89543 17 7 17.8954 7 19C7 20.1046 7.89543 21 9 21Z' stroke='%2306623A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17 21C18.1046 21 19 20.1046 19 19C19 17.8954 18.1046 17 17 17C15.8954 17 15 17.8954 15 19C15 20.1046 15.8954 21 17 21Z' stroke='%2306623A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3 3H5L7 15C7.21572 15.6135 7.62494 16.1402 8.16602 16.501C8.7071 16.8617 9.35075 17.0368 10 17H17C17.6493 17.0368 18.2929 16.8617 18.834 16.501C19.3751 16.1402 19.7843 15.6135 20 15L21 8H5.8' stroke='%2306623A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  height: 24px;
  padding-left: 34px;
  background-repeat: no-repeat;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #06623a;
  margin-top: 10px;
}

.orderform-template .cart-template.mini-cart h2 {
  display: none;
}

.summary-cart-template-holder,
.summary-cart-template-holder .cart {
  overflow: visible !important;
}

.orderform-template .cart-template.mini-cart .quantity {
  width: 33px;
  height: 33px;
  background: #fdb31b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 12px;
  line-height: 20px;
  color: #06623a;
  margin-left: -16px;
  margin-top: -16px;
}

.cart-items .photo {
  width: 75px;
  height: 75px;
  border-radius: 8px;
}

.orderform-template .cart-template.mini-cart .item .fn {
  width: calc(82% - 75px);
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #4d4a48;
  padding-left: 24px;
}

.description .price {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #1a1918;
}

.orderform-template .cart-template.mini-cart .summary-totalizers tbody td,
.orderform-template .cart-template.mini-cart .summary-totalizers tbody td.monetary {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #1a1918;
}

.orderform-template .cart-template.mini-cart .summary-totalizers tfoot tr td,
.orderform-template .cart-template.mini-cart .summary-totalizers tfoot tr td.monetary {
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #06623a;
}

.cart-more-options .srp-container .srp-main-title,
.client-pre-email h3.client-pre-email-h span:after,
.orderform-template-holder #client-profile-data form.client-pre-email .accordion-toggle,
.orderform-template-holder #client-profile-data .step.client-profile-data .accordion-toggle,
.orderform-template-holder #shipping-data .accordion-toggle,
.orderform-template-holder #payment-data .accordion-toggle,
.orderform-template .cart-template.mini-cart h2 {
  font-weight: 800 !important;
  font-size: 16px !important;
  text-transform: uppercase !important;
}

.pickup-point-info:before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 0H0V20H24V0Z' fill='%23FBFFFF'/%3E%3Cpath d='M22.7232 1.28125H1.27734V14.2546H22.7232V1.28125Z' fill='%23006239'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.27734 14.8945C8.42647 14.8945 15.5741 14.8945 22.7232 14.8945V18.7188H20.3357V17.1392H13.374V18.7188H10.6221V17.1392H3.66336V18.7188H1.27734V14.8945Z' fill='%23FEBD11'/%3E%3Cpath d='M9.10793 9.83669C8.9681 9.72781 8.89521 9.56821 8.86099 9.39519L8.32251 6.609C8.28978 6.43599 8.30019 6.26148 8.38944 6.11381C8.46382 5.98853 8.58729 5.89008 8.77918 5.8349C8.62299 5.83042 8.47423 5.78418 8.35226 5.70663C8.1916 5.59923 8.07409 5.43815 8.0369 5.24425V5.24276C8.0012 5.04886 8.05029 4.85794 8.16036 4.7073C8.2749 4.55516 8.44597 4.44628 8.65423 4.41048H8.6572C8.86546 4.37618 9.06925 4.42092 9.2299 4.52533C9.39056 4.63272 9.50807 4.79381 9.54675 4.9877C9.58394 5.18459 9.53336 5.37401 9.42328 5.52317C9.33701 5.63801 9.21652 5.73049 9.07223 5.78419C9.27156 5.77524 9.42477 5.82744 9.5408 5.92141C9.68212 6.03029 9.75501 6.18988 9.78922 6.36141L10.3292 9.15058C10.3604 9.3236 10.3515 9.49811 10.2608 9.64726C10.17 9.7994 10.0019 9.91425 9.72823 9.96347C9.45155 10.0052 9.25073 9.95154 9.10793 9.83669Z' fill='white'/%3E%3Cpath d='M17.7707 10.3751C17.9046 11.0672 18.4713 11.288 19.0158 11.194C19.5602 11.1 20.0095 10.7077 19.8741 10.0187C19.7462 9.35045 19.169 9.10733 18.632 9.2013C18.0905 9.29079 17.6428 9.70693 17.7707 10.3751ZM19.224 10.1275C19.282 10.4393 19.1958 10.6719 18.9235 10.7167C18.6528 10.7629 18.4817 10.5735 18.4222 10.2648C18.3627 9.95452 18.4535 9.72334 18.7227 9.67561C18.9949 9.62788 19.166 9.82029 19.224 10.1275ZM16.3694 11.103L16.1835 10.1514L16.3293 10.126C16.7041 10.0634 16.8306 10.2215 16.8916 10.5243C16.9481 10.8226 16.8871 11.015 16.5122 11.0791L16.3694 11.103ZM15.7581 11.3223C15.8042 11.5788 15.9455 11.6683 16.1984 11.625L16.7473 11.5311C17.4226 11.4162 17.6413 10.9419 17.5401 10.4124C17.4375 9.88293 17.0567 9.51154 16.3813 9.62489L15.8295 9.71588C15.5781 9.75913 15.4784 9.88591 15.5275 10.1425L15.7581 11.3223ZM14.7674 11.2074L14.3196 11.285L14.4044 10.5511H14.4103L14.7674 11.2074ZM14.9578 11.5669L15.0306 11.7011C15.0872 11.804 15.2211 11.8249 15.3237 11.8085C15.471 11.7831 15.6004 11.6549 15.5736 11.5102C15.5558 11.4252 15.4769 11.2924 15.4025 11.1731L14.7525 10.1186C14.6588 9.97093 14.5591 9.89635 14.3925 9.92618L14.1902 9.96049C14.0266 9.98883 13.9581 10.0888 13.9254 10.2588L13.7112 11.458C13.6889 11.5952 13.6621 11.7444 13.6785 11.8294C13.7052 11.9741 13.8748 12.0516 14.0221 12.0263C14.1247 12.0099 14.2437 11.9472 14.2556 11.8294L14.275 11.6847L14.9578 11.5669ZM11.5453 11.4282C11.6792 12.1172 12.2445 12.3395 12.7889 12.247C13.1504 12.1829 13.5967 11.8965 13.5327 11.5639C13.5044 11.4058 13.3512 11.3208 13.1787 11.3491C13.082 11.3655 13.0135 11.4237 12.9674 11.5176C12.8707 11.7101 12.8172 11.7503 12.6967 11.7697C12.426 11.816 12.2564 11.6265 12.1954 11.3178C12.1314 10.9807 12.2608 10.7674 12.4617 10.7331C12.6045 10.7122 12.7026 10.7286 12.8112 10.8435C12.9258 10.9628 12.9704 10.9807 13.0924 10.9583C13.2754 10.9285 13.3795 10.7957 13.3497 10.6466C13.2947 10.3692 12.8841 10.1693 12.4037 10.2513C11.8637 10.3423 11.4159 10.7614 11.5453 11.4282ZM10.7376 11.889L10.2913 11.9636L10.3776 11.2313L10.3851 11.2268L10.7376 11.889ZM10.9295 12.2485L11.0009 12.3827C11.0574 12.4827 11.1913 12.505 11.2939 12.4871C11.4412 12.4633 11.5721 12.3335 11.5439 12.1933C11.5275 12.1083 11.4472 11.9741 11.3743 11.8562L10.7257 10.8017C10.6305 10.6526 10.5279 10.5795 10.3657 10.6078L10.1634 10.6421C9.99978 10.6705 9.93136 10.7719 9.89863 10.9434L9.68443 12.1426C9.66211 12.2768 9.63534 12.4245 9.65319 12.514C9.67996 12.6542 9.84954 12.7362 9.99681 12.7109C10.0965 12.6945 10.217 12.6303 10.2304 12.514L10.2482 12.3663L10.9295 12.2485ZM8.2073 11.5191L8.42448 12.6348C8.46315 12.8377 8.6134 12.945 8.81273 12.9107C9.01354 12.8764 9.11321 12.7288 9.07305 12.5274L8.85884 11.4073L9.25155 11.3416C9.43303 11.3118 9.497 11.197 9.46873 11.0508C9.44196 10.9061 9.33783 10.8181 9.13404 10.8524L7.74021 11.0896C7.53493 11.1239 7.47394 11.2387 7.50071 11.3834C7.53047 11.5281 7.63013 11.6161 7.81459 11.5833L8.2073 11.5191ZM7.12883 12.4976L6.68257 12.5766L6.76884 11.8428L6.77479 11.8413L7.12883 12.4976ZM7.32072 12.8585L7.39212 12.9928C7.44716 13.0927 7.58402 13.1151 7.68666 13.0972C7.83244 13.0718 7.96334 12.945 7.93508 12.8034C7.91871 12.7153 7.8369 12.5841 7.7655 12.4663L7.11544 11.4118C7.02321 11.2626 6.92057 11.1895 6.75694 11.2179L6.55464 11.2536C6.39101 11.279 6.32258 11.3819 6.29134 11.552L6.07565 12.7511C6.05185 12.8854 6.02507 13.0345 6.04292 13.1225C6.0697 13.2657 6.24077 13.3448 6.38655 13.3194C6.4877 13.303 6.60819 13.2389 6.62009 13.1225L6.63645 12.9764L7.32072 12.8585Z' fill='white'/%3E%3Cpath d='M15.7325 6.41363V6.4196C15.7429 6.46733 15.7385 6.43899 15.74 6.45987C15.8411 6.97594 15.8069 7.6009 15.5198 8.14083C15.2297 8.68673 14.6823 9.14613 13.7586 9.31467C13.7095 9.32362 13.7333 9.31914 13.7139 9.32362C12.7649 9.48321 11.969 9.28036 11.3696 8.84633C10.7731 8.41677 10.3789 7.76198 10.2346 7.01472C10.062 6.11831 10.2316 5.36508 10.6645 4.79979C11.1003 4.23152 11.795 3.85714 12.6756 3.7065C13.4001 3.5827 13.9966 3.69307 14.4265 3.89592C14.8802 4.10921 15.1568 4.43138 15.2104 4.70433V4.70583C15.261 4.97281 15.1836 5.16074 15.0483 5.29498C14.9188 5.42027 14.7433 5.48888 14.5752 5.51424H14.5782H14.5767C14.2286 5.5739 14.062 5.42922 13.8671 5.2562C13.6797 5.09213 13.4551 4.89376 12.8556 4.99518V4.99668C12.4897 5.05783 12.1862 5.22339 12.0047 5.50827C11.8128 5.8021 11.7429 6.23316 11.856 6.81784V6.81933C11.9423 7.26978 12.1312 7.61134 12.4049 7.82015C12.6712 8.02002 13.0311 8.10205 13.47 8.02748V8.02598C13.8627 7.96036 14.184 7.75303 14.3179 7.45771C14.3432 7.40252 14.361 7.34286 14.3729 7.27872C14.3759 7.26978 14.3789 7.25784 14.3789 7.24889L13.8166 7.34286C13.6544 7.3712 13.4729 7.36822 13.3153 7.30408C13.1412 7.23398 13.0029 7.09228 12.9553 6.85215H12.9538V6.84767H12.9553C12.9196 6.66869 12.9508 6.5076 13.0386 6.38082C13.0416 6.37635 13.0445 6.37187 13.049 6.3674C13.1442 6.23912 13.2989 6.15112 13.5042 6.11831L14.9173 5.87966C15.2729 5.82 15.502 5.95872 15.6343 6.16604C15.6611 6.20929 15.6805 6.24658 15.6968 6.28984C15.7102 6.32712 15.7236 6.37187 15.7325 6.41363Z' fill='white'/%3E%3Cpath d='M8.20675 7.69038V7.69485H8.20824C8.21568 7.74109 8.2127 7.71126 8.21568 7.73363C8.31534 8.2497 8.28113 8.87764 7.99255 9.41459C7.70396 9.96348 7.15804 10.4214 6.23427 10.5884C6.1837 10.5974 6.2075 10.5944 6.18816 10.5974H6.18667C5.24059 10.757 4.44178 10.5541 3.84379 10.1231C3.24729 9.69202 2.85458 9.03425 2.71028 8.28998H2.7088H2.70731H2.71028C2.53624 7.39207 2.70433 6.64034 3.1387 6.07355C3.57306 5.50528 4.26923 5.1309 5.14985 4.98026H5.14837H5.14985C5.8728 4.85795 6.47079 4.96683 6.90069 5.16968C7.35439 5.38297 7.62959 5.70962 7.68463 5.98257C7.73669 6.24657 7.65785 6.43749 7.521 6.57173C7.39158 6.69552 7.21605 6.76413 7.05093 6.79098C6.70285 6.84915 6.53624 6.70298 6.34138 6.53295C6.15246 6.36888 5.92784 6.1705 5.32836 6.27193C4.96242 6.33159 4.65748 6.49864 4.476 6.78054C4.2841 7.07736 4.21568 7.50841 4.32724 8.09458C4.41352 8.54204 4.60095 8.88659 4.87615 9.09391C5.1439 9.29676 5.50389 9.37581 5.94271 9.30124V9.29974C6.33543 9.23561 6.65376 9.03127 6.78913 8.73445C6.81293 8.67927 6.83375 8.6211 6.84565 8.55547C6.84714 8.54503 6.84863 8.53459 6.84863 8.52415L6.28931 8.61811C6.12568 8.64645 5.9442 8.64645 5.78652 8.57933C5.61248 8.50923 5.47265 8.37052 5.42802 8.1274C5.39381 7.94394 5.42207 7.78584 5.51133 7.65756C5.5143 7.65309 5.51728 7.64712 5.52025 7.64265C5.61545 7.51289 5.77165 7.42936 5.97693 7.39356L7.39009 7.15492C7.74264 7.09526 7.9747 7.23546 8.10709 7.44577C8.13238 7.48455 8.1532 7.52482 8.16808 7.56509C8.18444 7.60387 8.19634 7.64563 8.20527 7.69336H8.20675V7.69038Z' fill='white'/%3E%3Cpath d='M19.0993 6.4449L17.8245 6.66415L18.0684 4.57153H18.0848L19.0993 6.4449ZM19.6422 7.47406L19.8505 7.85738C20.0126 8.14823 20.3935 8.21087 20.6865 8.16165C21.106 8.08857 21.4764 7.72314 21.3975 7.30849C21.3455 7.06537 21.1209 6.68802 20.9096 6.34645L19.0576 3.34101C18.7914 2.9204 18.5058 2.7086 18.0297 2.79362L17.4541 2.89057C16.9855 2.96962 16.7906 3.25599 16.6999 3.74223L16.0885 7.16232C16.0231 7.55162 15.9487 7.97819 15.9948 8.22131C16.0736 8.63447 16.5541 8.85373 16.9766 8.78064C17.2696 8.73142 17.6073 8.55542 17.643 8.22131L17.698 7.80816L19.6422 7.47406Z' fill='white'/%3E%3C/svg%3E%0A");
  width: 24px;
  height: 20px;
  position: absolute;
}

.pickup-point-info {
  border: none !important;
  border-bottom: 1px solid #ccc6c0 !important;
  border-radius: 0 !important;
  padding: 17px 0;
}

.pickup-point-name {
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;
  color: #06623a;
}

.pickup-point-address {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #4d4a48;
}

.pickup-marker-blue {
  display: none;
}

#change-pickup-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: auto;
  height: 40px;
  border: 1px solid #06623a;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #06623a;
  margin-left: 60px;
  margin-top: 20px;
}

.icon-edit {
  padding-right: 11px;
}

.icon-edit:before {
  content: '' !important;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Crect width='13' height='13' fill='white'/%3E%3Cpath d='M12.6538 2.10982L10.8811 0.335609C10.4344 -0.111421 9.65741 -0.112279 9.20903 0.336467L1.26759 8.35627C1.23238 8.39178 1.20698 8.4354 1.19313 8.48332L0.01134 12.6232C-0.0181037 12.7263 0.0107583 12.8375 0.0866528 12.9134C0.142909 12.9697 0.218222 13.0001 0.295556 13.0001C0.322673 13.0001 0.350095 12.9963 0.376631 12.9888L4.51296 11.806C4.56085 11.7921 4.60442 11.7667 4.6399 11.7315L12.6538 3.78241C12.8771 3.55891 13 3.26203 13 2.94613C13 2.63022 12.8771 2.33332 12.6538 2.10982ZM7.92154 2.48567L9.0091 3.57323L3.33097 9.25138L2.92347 8.43609C2.87325 8.33596 2.77113 8.27278 2.65917 8.27278H2.18602L7.92154 2.48567ZM0.725745 12.2744L1.11059 10.9272L2.0729 11.8895L0.725745 12.2744ZM4.13643 11.3L2.72282 11.7038L1.29626 10.2773L1.70007 8.86368H2.4765L2.98574 9.88219C3.0143 9.93933 3.06075 9.98578 3.11789 10.0143L4.1364 10.5236V11.3H4.13643ZM4.72735 10.8141V10.341C4.72735 10.229 4.66417 10.1269 4.56404 10.0767L3.74875 9.66916L9.42688 3.99103L10.5144 5.0786L4.72735 10.8141ZM12.2369 3.37155L10.9341 4.66267L8.33743 2.066L9.62769 0.764135C9.85103 0.540801 10.2399 0.540801 10.4633 0.764135L12.236 2.53685C12.3477 2.64851 12.4091 2.7968 12.4091 2.95463C12.4091 3.11246 12.3477 3.26076 12.2369 3.37155Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='13' height='13' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  position: absolute;
  width: 32px;
  height: 32px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 12px;
}

.address-summary {
  font-size: 16px;
  line-height: 22px;
  color: #4d4a48;
}

.shp-summary-group-info:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 17px;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.9292 7.3942C15.9287 7.39381 15.9283 7.39329 15.9279 7.3929L9.25008 0.458489C8.96545 0.162773 8.58701 0 8.18447 0C7.78193 0 7.40349 0.162773 7.11873 0.458489L0.444398 7.3894C0.44215 7.39173 0.439777 7.3942 0.437653 7.39653C-0.146861 8.00703 -0.145862 8.99755 0.440526 9.60649C0.708428 9.88482 1.06213 10.0459 1.44045 10.0629C1.45593 10.0645 1.47142 10.0652 1.48703 10.0652H1.75306V15.1684C1.75306 16.1784 2.5444 17 3.51697 17H6.12955C6.39446 17 6.60915 16.777 6.60915 16.502V12.501C6.60915 12.0402 6.97023 11.6653 7.41398 11.6653H8.95495C9.39871 11.6653 9.75966 12.0402 9.75966 12.501V16.502C9.75966 16.777 9.97436 17 10.2393 17H12.8518C13.8245 17 14.6158 16.1784 14.6158 15.1684V10.0652H14.8625C15.265 10.0652 15.6434 9.90246 15.9283 9.60662C16.5153 8.99677 16.5155 8.00443 15.9292 7.3942ZM15.25 8.90235C15.1464 9.00987 15.0088 9.06914 14.8625 9.06914H14.1362C13.8712 9.06914 13.6565 9.2921 13.6565 9.56719V15.1684C13.6565 15.6291 13.2956 16.0039 12.8518 16.0039H10.7189V12.501C10.7189 11.491 9.92765 10.6692 8.95495 10.6692H7.41398C6.44129 10.6692 5.64995 11.491 5.64995 12.501V16.0039H3.51697C3.07334 16.0039 2.71226 15.6291 2.71226 15.1684V9.56719C2.71226 9.2921 2.49757 9.06914 2.23266 9.06914H1.51876C1.51126 9.06862 1.50389 9.06823 1.49627 9.0681C1.35339 9.06551 1.21938 9.00663 1.11896 8.90222C0.90539 8.68043 0.90539 8.31948 1.11896 8.09756C1.11909 8.09756 1.11909 8.09743 1.11921 8.0973L1.11959 8.09691L7.79717 1.16276C7.90058 1.05524 8.03809 0.996096 8.18447 0.996096C8.33072 0.996096 8.46823 1.05524 8.57177 1.16276L15.2479 8.09548C15.2489 8.09652 15.25 8.09756 15.251 8.0986C15.4634 8.32077 15.463 8.68095 15.25 8.90235Z' fill='%2306623A'/%3E%3C/svg%3E%0A");
  left: 30px;
}

.shp-summary-group-info {
  padding-left: 30px;
}

.orderform-template-holder #payment-data .payment-group-item.active:before,
.orderform-template-holder #payment-data .payment-group-item.active:after {
  border: none !important;
}

.payment-group-item {
  box-shadow: none !important;
  border: 1px solid #ccc6c0 !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
}

.payment-group-item-text {
  font-weight: normal !important;
  font-size: 13px !important;
  line-height: 18px !important;
  color: #4d4a48 !important;
}

.payment-confirmation-wrap {
  background: none !important;
}

.orderform-template-holder #shipping-data .shipping-summary-info,
.orderform-template-holder .step .accordion-body p.notification {
  display: block !important;
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 22px;
  color: #4d4a48 !important;
  padding-top: 2px;
}

.authorize-data {
  display: flex;
  flex-wrap: wrap;
  line-height: 16px;
  color: #4d4a48;
  max-width: 350px;
  margin-top: 38px;
  margin-bottom: 11px;
}

.authorize-data-title {
  font-size: 16px;
  line-height: 22px;
  color: #4d4a48;
  border-bottom: 1px solid #ccc6c0;
  width: 100%;
  margin-bottom: 10px;
}

.orderform-template-holder .step.shipping-data .vtex-omnishipping-1-x-address div {
  display: flex;
  flex-wrap: wrap;
}

#ship-number {
  max-width: 91px !important;
  margin-right: 8px;
}

.ship-complement::before {
  content: 'Complemento';
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 19px !important;
  text-transform: capitalize !important;
  color: #333230 !important;
  margin: 26px 0 3px 0;
  display: block;
}

.ship-complement label {
  display: none !important;
}

#ship-complement {
  width: 247px !important;
}

.ship-receiverName {
  width: 100%;
}

.ship-receiverName label {
  margin: 14px 0 3px !important;
}

.shipping-container label {
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 19px !important;
  text-transform: capitalize !important;
  color: #333230 !important;
}

.checkbox input:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 2px solid #ccc6c0;
  border-radius: 2px;
  box-sizing: border-box;
}

.checkbox input:checked:before {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 1H3C1.89543 1 1 1.89543 1 3V15C1 16.1046 1.89543 17 3 17H15C16.1046 17 17 16.1046 17 15V3C17 1.89543 16.1046 1 15 1Z' fill='%2306623A' stroke='%2306623A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 9L8 11L12 7' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.checkbox input {
  margin-top: 0 !important;
}

.checkbox span {
  display: flex;
  height: 24px;
  align-items: center;
  padding-left: 10px;
}

.shp-alert-icon:before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.00001 1.99994C5.4485 1.99994 5 2.44841 5 2.99994C5 3.55147 5.44848 3.99995 6.00001 3.99995C6.55155 3.99995 7.00002 3.55147 7.00002 2.99994C7.00002 2.44841 6.55152 1.99994 6.00001 1.99994ZM6.00001 3.49994C5.72439 3.49994 5.50002 3.27557 5.50002 2.99994C5.50002 2.72432 5.72439 2.49995 6.00001 2.49995C6.27564 2.49995 6.50001 2.72432 6.50001 2.99994C6.50001 3.27557 6.27564 3.49994 6.00001 3.49994Z' fill='%2306623A'/%3E%3Cpath d='M6.75 4.5H4.75001C4.61182 4.5 4.5 4.61182 4.5 4.75001V5.75002C4.5 5.8882 4.61182 6.00002 4.75001 6.00002H5.00002V9.75002C5.00002 9.88821 5.11184 10 5.25002 10H6.75002C6.88821 10 7.00003 9.88821 7.00003 9.75002V4.75001C7.00001 4.61182 6.88819 4.5 6.75 4.5ZM6.49999 9.49999H5.49998V5.74999C5.49998 5.6118 5.38816 5.49998 5.24998 5.49998H4.99997V4.99999H6.49997V9.49999H6.49999Z' fill='%2306623A'/%3E%3Cpath d='M6 0C2.69166 0 0 2.69166 0 6C0 9.30834 2.69166 12 6 12C9.30834 12 12 9.30834 12 6C12 2.69166 9.30834 0 6 0ZM6 11.5C2.96728 11.5 0.499992 9.03272 0.499992 6C0.499992 2.96728 2.96728 0.499992 6 0.499992C9.03272 0.499992 11.5 2.96728 11.5 6C11.5 9.03272 9.03272 11.5 6 11.5Z' fill='%2306623A'/%3E%3C/svg%3E%0A");
  width: 12px;
  height: 12px;
  display: block;
}

.shp-alert-icon {
  border: none !important;
  width: 12px !important;
}

.shp-alert-icon svg {
  display: none;
}

.shp-alert {
  border: 1px solid #dd5803 !important;
  border-radius: 5px !important;
}

.orderform-template .cart-template.mini-cart .item .description {
  padding-left: 24px;
  position: absolute;
  bottom: 6px;
  right: 0;
  width: calc(100% - 106px);
}

.orderform-template .cart-template.mini-cart .item .description .shipping-date {
  font-weight: 600;
  font-size: 12px;
  color: #06623a;
}

@media (min-width: 769px) {
  .orderform-template .cart-template.mini-cart {
    margin-top: 38px;
  }
}

@media only screen and (max-width: 640px) {
  .payment-methods-info-content {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 6px;
  }
  .payment-methods-cards {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .payment-info {
    text-align: justify;
  }
  .payment-methods-cards .accepted-card {
    margin: 12px 8px;
  }
  .payment-methods-cards .accepted-card:first-child {
    margin: 12px 8px;
  }
  .payment-methods-cards .accepted-card:last-child {
    margin: 12px 8px;
  }
  .copyright-text {
    margin: 18px 0;
    text-align: justify;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
  }
  .developed-by {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
  }
  .copyright-content {
    flex-direction: column;
    padding: 0 6px 40px;
  }
  .main-footer {
    position: relative;
  }
  .body-cart {
    min-height: 1020px;
  }
}
@media (min-width: 641px) and (max-width: 768px) {
  .payment-methods-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
  }
  .payment-methods-cards .accepted-card {
    margin: 12px 8px;
  }
  .payment-methods-cards .accepted-card:first-child {
    margin: 12px 8px;
  }
  .payment-methods-cards .accepted-card:last-child {
    margin: 12px 8px;
  }
}
@media (max-width: 375px) {
  .shp-method-option-text {
    font-size: 12px;
  }
}
