:root {
  --color-primary: #f71963;
  --color-muted: #a1a8b3;
}

/* Para VTEX Eletro */
/* :root {
  --color-primary: #003087;
  --color-muted: #a1a8b3;
} */

body a,
.btn-link,
.orderform-template-holder .step.shipping-data .vtex-omnishipping-1-x-summaryChange,
.summary-template-holder .summary-coupon fieldset.coupon-fieldset .coupon-data a,
.btn-link:hover,
.summary-template-holder .summary-coupon fieldset.coupon-fieldset .coupon-data a:hover,
.btn-link:focus,
.summary-template-holder .summary-coupon fieldset.coupon-fieldset .coupon-data a:focus,
.summary-template-holder tfoot tr td.monetary,
.orderform-template-holder #client-profile-data form.client-pre-email .link-box-edit,
.orderform-template-holder #client-profile-data .step.client-profile-data .link-box-edit,
.orderform-template-holder #shipping-data .link-box-edit,
.orderform-template-holder #payment-data .link-box-edit {
  color: var(--color-primary);
}
.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.orderform-template-holder .step.shipping-data .vtex-omnishipping-1-x-pickupButton,
.orderform-template-holder .step.shipping-data .vtex-pickup-points-modal-3-x-pickupViewOptionActive,
.orderform-template-holder .step.shipping-data .vtex-pickup-points-modal-3-x-pickupViewOptionActive:hover,
.orderform-template-holder .step.shipping-data .vtex-pickup-points-modal-3-x-pickupViewOptionActive:active,
.orderform-template-holder .step.shipping-data .vtex-pickup-points-modal-3-x-pickupViewOptionActive:focus,
.orderform-template-holder .step.shipping-data .vtex-omnishipping-1-x-deliveryChannelsTogglePickup,
.orderform-template-holder
  .step.shipping-data
  .vtex-omnishipping-1-x-deliveryChannelsOption.vtex-omnishipping-1-x-deliveryOptionActive {
  background: var(--color-primary);
  border-color: var(--color-primary);
}
.orderform-template-holder .step.shipping-data .box-step > *.btn-link.vtex-omnishipping-1-x-btnDelivery,
.orderform-template-holder
  .step.shipping-data
  .summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  .box-step
  > a.vtex-omnishipping-1-x-btnDelivery,
.summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  .orderform-template-holder
  .step.shipping-data
  .box-step
  > a.vtex-omnishipping-1-x-btnDelivery,
.btn-success[disabled] {
  background: var(--color-primary);
}
.btn-secondary,
.orderform-template-holder #payment-data #btn-add-gift-card,
.orderform-template-holder #payment-data .payment-discounts-list table td.action a,
.cart-more-options .srp-container .vtex-shipping-preview-0-x-pc .btn,
.cart-more-options
  .srp-container
  .vtex-shipping-preview-0-x-pc
  .summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  a,
.summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  .cart-more-options
  .srp-container
  .vtex-shipping-preview-0-x-pc
  a,
.summary-template-holder .summary-coupon fieldset.coupon-fieldset button[type='submit'],
.table.cart-items tbody tr td .product-service input[type='submit'],
.table.cart-items tbody tr td.product-name .add-service.btn,
.table.cart-items
  tbody
  tr
  td.product-name
  .summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  a.add-service,
.summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  .table.cart-items
  tbody
  tr
  td.product-name
  a.add-service,
.table.cart-items tbody tr td.product-name .clone-item.btn,
.table.cart-items
  tbody
  tr
  td.product-name
  .summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  a.clone-item,
.summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  .table.cart-items
  tbody
  tr
  td.product-name
  a.clone-item,
.table.cart-items tbody tr td.product-name .add-item-attachment-container a {
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.btn-secondary:hover,
.orderform-template-holder #payment-data #btn-add-gift-card:hover,
.orderform-template-holder #payment-data .payment-discounts-list table td.action a:hover,
.cart-more-options .srp-container .vtex-shipping-preview-0-x-pc .btn:hover,
.cart-more-options
  .srp-container
  .vtex-shipping-preview-0-x-pc
  .summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  a:hover,
.summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  .cart-more-options
  .srp-container
  .vtex-shipping-preview-0-x-pc
  a:hover,
.summary-template-holder .summary-coupon fieldset.coupon-fieldset button[type='submit']:hover,
.table.cart-items tbody tr td .product-service input[type='submit']:hover,
.table.cart-items tbody tr td.product-name .add-service.btn:hover,
.table.cart-items
  tbody
  tr
  td.product-name
  .summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  a.add-service:hover,
.summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  .table.cart-items
  tbody
  tr
  td.product-name
  a.add-service:hover,
.table.cart-items tbody tr td.product-name .clone-item.btn:hover,
.table.cart-items
  tbody
  tr
  td.product-name
  .summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  a.clone-item:hover,
.summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  .table.cart-items
  tbody
  tr
  td.product-name
  a.clone-item:hover,
.table.cart-items tbody tr td.product-name .add-item-attachment-container a:hover,
.btn-secondary:focus,
.orderform-template-holder #payment-data #btn-add-gift-card:focus,
.orderform-template-holder #payment-data .payment-discounts-list table td.action a:focus,
.cart-more-options .srp-container .vtex-shipping-preview-0-x-pc .btn:focus,
.cart-more-options
  .srp-container
  .vtex-shipping-preview-0-x-pc
  .summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  a:focus,
.summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  .cart-more-options
  .srp-container
  .vtex-shipping-preview-0-x-pc
  a:focus,
.summary-template-holder .summary-coupon fieldset.coupon-fieldset button[type='submit']:focus,
.table.cart-items tbody tr td .product-service input[type='submit']:focus,
.table.cart-items tbody tr td.product-name .add-service.btn:focus,
.table.cart-items
  tbody
  tr
  td.product-name
  .summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  a.add-service:focus,
.summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  .table.cart-items
  tbody
  tr
  td.product-name
  a.add-service:focus,
.table.cart-items tbody tr td.product-name .clone-item.btn:focus,
.table.cart-items
  tbody
  tr
  td.product-name
  .summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  a.clone-item:focus,
.summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  .table.cart-items
  tbody
  tr
  td.product-name
  a.clone-item:focus,
.table.cart-items tbody tr td.product-name .add-item-attachment-container a:focus,
.btn-secondary:active,
.orderform-template-holder #payment-data #btn-add-gift-card:active,
.orderform-template-holder #payment-data .payment-discounts-list table td.action a:active,
.cart-more-options .srp-container .vtex-shipping-preview-0-x-pc .btn:active,
.cart-more-options
  .srp-container
  .vtex-shipping-preview-0-x-pc
  .summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  a:active,
.summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  .cart-more-options
  .srp-container
  .vtex-shipping-preview-0-x-pc
  a:active,
.summary-template-holder .summary-coupon fieldset.coupon-fieldset button[type='submit']:active,
.table.cart-items tbody tr td .product-service input[type='submit']:active,
.table.cart-items tbody tr td.product-name .add-service.btn:active,
.table.cart-items
  tbody
  tr
  td.product-name
  .summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  a.add-service:active,
.summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  .table.cart-items
  tbody
  tr
  td.product-name
  a.add-service:active,
.table.cart-items tbody tr td.product-name .clone-item.btn:active,
.table.cart-items
  tbody
  tr
  td.product-name
  .summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  a.clone-item:active,
.summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  .table.cart-items
  tbody
  tr
  td.product-name
  a.clone-item:active,
.table.cart-items tbody tr td.product-name .add-item-attachment-container a:active {
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.btn-outlined {
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.btn-outlined:hover,
.btn-outlined:focus,
.btn-outlined:active {
  border-color: var(--color-primary);
}

.modal.guest-login-modal,
.modal.modal-email-template,
.modal.modal-payment-template,
.modal.modal-masked-info-template {
  background: var(--color-primary);
}
#vtexIdContainer a {
  color: var(--color-primary);
}
#vtexIdContainer .vtexIdUI .btn.btn-success,
#vtexIdContainer
  .vtexIdUI
  .orderform-template-holder
  #payment-data
  .payment-discounts-list
  table
  td.action
  a.btn-success,
.orderform-template-holder
  #payment-data
  .payment-discounts-list
  table
  td.action
  #vtexIdContainer
  .vtexIdUI
  a.btn-success,
#vtexIdContainer .vtexIdUI .summary-template-holder .summary-coupon fieldset.coupon-fieldset .coupon-data a.btn-success,
.summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  #vtexIdContainer
  .vtexIdUI
  a.btn-success {
  background: var(--color-primary);
  border-color: var(--color-primary);
}
#vtexIdContainer .vtexIdUI .btn.btn-success:hover,
#vtexIdContainer
  .vtexIdUI
  .orderform-template-holder
  #payment-data
  .payment-discounts-list
  table
  td.action
  a.btn-success:hover,
.orderform-template-holder
  #payment-data
  .payment-discounts-list
  table
  td.action
  #vtexIdContainer
  .vtexIdUI
  a.btn-success:hover,
#vtexIdContainer
  .vtexIdUI
  .summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  a.btn-success:hover,
.summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  #vtexIdContainer
  .vtexIdUI
  a.btn-success:hover,
#vtexIdContainer .vtexIdUI .btn.btn-success:focus,
#vtexIdContainer
  .vtexIdUI
  .orderform-template-holder
  #payment-data
  .payment-discounts-list
  table
  td.action
  a.btn-success:focus,
.orderform-template-holder
  #payment-data
  .payment-discounts-list
  table
  td.action
  #vtexIdContainer
  .vtexIdUI
  a.btn-success:focus,
#vtexIdContainer
  .vtexIdUI
  .summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  a.btn-success:focus,
.summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  #vtexIdContainer
  .vtexIdUI
  a.btn-success:focus,
#vtexIdContainer .vtexIdUI .btn.btn-success:active,
#vtexIdContainer
  .vtexIdUI
  .orderform-template-holder
  #payment-data
  .payment-discounts-list
  table
  td.action
  a.btn-success:active,
.orderform-template-holder
  #payment-data
  .payment-discounts-list
  table
  td.action
  #vtexIdContainer
  .vtexIdUI
  a.btn-success:active,
#vtexIdContainer
  .vtexIdUI
  .summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  a.btn-success:active,
.summary-template-holder
  .summary-coupon
  fieldset.coupon-fieldset
  .coupon-data
  #vtexIdContainer
  .vtexIdUI
  a.btn-success:active {
  background: var(--color-primary);
  border-color: var(--color-primary);
}
body.js-vcustom-hideEmailStep .client-profile-data .accordion-toggle > span:before,
body.v-custom-step-payment .payment-data .accordion-toggle > span:not(.payment-edit-link):before,
body.v-custom-step-shipping .shipping-data .accordion-toggle:before,
body.v-custom-step-profile .client-profile-data .accordion-toggle > span:before,
body.v-custom-step-email .client-pre-email h3.client-pre-email-h span:before,
body.v-custom-step-profile .client-pre-email h3.client-pre-email-h span:before,
body.v-custom-step-payment .client-pre-email h3.client-pre-email-h span:before,
body.v-custom-step-payment .client-profile-data .accordion-toggle > span:before,
body.v-custom-step-payment .shipping-data .accordion-toggle:before,
body.v-custom-step-shipping .client-pre-email h3.client-pre-email-h span:before,
body.v-custom-step-shipping .client-profile-data .accordion-toggle > span:before {
  background: var(--color-primary);
  border-color: var(--color-primary);
}

.table.cart-items tbody tr td .field-help {
  background: var(--color-primary);
  border-color: var(--color-primary);
}
.table.cart-items tbody tr td i.icon-question-sign {
  color: var(--color-primary);
}

.cart-more-options .srp-container button.shp-open-options {
  border-color: var(--color-primary);
}
.cart-more-options .srp-container .onda-v1 .blue {
  color: var(--color-primary);
}
.cart-more-options .srp-container .onda-v1 .b--blue {
  border-color: var(--color-primary);
}
.cart-more-options .srp-container .onda-v1 .bg-blue {
  background: var(--color-primary);
}
.cart-select-gift-placeholder .label-vertical-group:hover .icon-check-empty,
.cart-select-gift-placeholder .icon-check-sign {
  color: var(--color-primary);
}
.client-pre-email a#orderform-to-cart {
  color: var(--color-primary);
}
.client-pre-email .emailInfo .icon-ok,
.client-pre-email .emailInfo h3 {
  color: var(--color-primary);
}
.orderform-template-holder #payment-data .payment-group-item.active:before {
  border-color: var(--color-primary) transparent transparent transparent;
}
.orderform-template-holder #payment-data .v-custom-payment-item-wrap.active,
.orderform-template-holder #payment-data .v-custom-payment-item-wrap:hover {
  border-color: var(--color-primary);
}
.orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item.active {
  border-bottom: 1px solid var(--color-primary);
}
.orderform-template-holder
  #payment-data
  .v-custom-payment-item-wrap
  .payment-group-item.active
  .payment-group-item-text:before {
  background: var(--color-primary);
  border-color: var(--color-primary);
}
.orderform-template-holder
  #payment-data
  .v-custom-payment-item-wrap
  .payment-group-item:hover
  .payment-group-item-text:before {
  border-color: var(--color-primary);
}
.orderform-template-holder .step.shipping-data .vtex-pickup-points-modal-3-x-pickupViewOptionInctive {
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.orderform-template-holder .step.shipping-data .shipping-method-toggle {
  border-color: var(--color-primary);
}
.orderform-template-holder .step.shipping-data .vtex-pickup-points-modal-3-x-primary {
  background: var(--color-primary);
  border-color: var(--color-primary);
}
.orderform-template-holder .step.shipping-data .vtex-omnishipping-1-x-pickupPointChange {
  border-color: var(--color-primary);
}
svg.pickup-marker-blue,
svg.pickup-marker-blue path,
svg.pkpmodal-pickup-point-marker-image,
svg.pkpmodal-pickup-point-marker-image path,
svg.vtex-omnishipping-1-x-svg,
svg.vtex-omnishipping-1-x-svg path,
svg.pkpmodal-pickup-point-best-marker-image path:not([fill='white']),
.orderform-template-holder
  .step.shipping-data
  .vtex-omnishipping-1-x-container.shp-pickup-receiver
  svg.person-blue
  path {
  fill: var(--color-primary);
}
.orderform-template-holder
  .step.shipping-data
  .vtex-omnishipping-1-x-container.shp-pickup-receiver
  .vtex-omnishipping-1-x-btn {
  color: var(--color-primary);
}
.orderform-template .cart-template.mini-cart .summary-totalizers tfoot tr td.monetary {
  color: var(--color-primary);
}

/*************************************************************************************************************/

/* Demo store warning */
.demo-store-warning {
  display: flex;
  align-items: center;
  width: 95%;
  padding: 10px;
  background-color: #f8f7fc;
  color: var(--color-primary);
  font-family: 'Fabriga';
  font-size: 16px;
  line-height: 1.5rem;
  gap: 10px;
}

/* Checkout UI Custom main override styles  */

body .main-header,
.checkout-steps {
  margin-bottom: 20px;
}

.list-access {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 20px;
}

.sublist-access {
  display: flex;
  gap: 20px;
}

.header-access {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #4a596b;
}

.header-access:hover,
.header-access:focus,
.header-access:active {
  text-decoration: none;
}

.checkout-steps {
  min-width: unset;
}

.checkout-steps_items {
  align-items: center;
}

.checkout-steps_item {
  flex-grow: 0;
}

.checkout-steps_item::after,
.checkout-steps_item .text::before {
  display: none;
}

.checkout-steps_item .text {
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
}

body.v-custom-step-cart .checkout-steps_item_cart .text,
body.v-custom-step-email .checkout-steps_item_cart .text,
body.v-custom-step-email .checkout-steps_item_identification .text,
body.v-custom-step-profile .checkout-steps_item_cart .text,
body.v-custom-step-profile .checkout-steps_item_identification .text,
body.v-custom-step-shipping .checkout-steps_item_cart .text,
body.v-custom-step-shipping .checkout-steps_item_identification .text,
body.v-custom-step-shipping .checkout-steps_item_shipping .text,
body.v-custom-step-payment .checkout-steps_item_cart .text,
body.v-custom-step-payment .checkout-steps_item_identification .text,
body.v-custom-step-payment .checkout-steps_item_shipping .text,
body.v-custom-step-payment .checkout-steps_item_payment .text {
  font-weight: 500;
}

body.v-custom-step-cart .checkout-steps_item_cart svg,
body.v-custom-step-email .checkout-steps_item_cart svg,
body.v-custom-step-email .checkout-steps_item_identification svg,
body.v-custom-step-profile .checkout-steps_item_cart svg,
body.v-custom-step-profile .checkout-steps_item_identification svg,
body.v-custom-step-shipping .checkout-steps_item_cart svg,
body.v-custom-step-shipping .checkout-steps_item_identification svg,
body.v-custom-step-payment .checkout-steps_item_cart svg,
body.v-custom-step-payment .checkout-steps_item_identification svg,
body.v-custom-step-payment .checkout-steps_item_shipping svg,
body.v-custom-step-payment .checkout-steps_item_payment svg {
  color: var(--color-primary);
}

.checkout-steps_items .arrow {
  color: var(--color-muted);
}

body.v-custom-step-email .arrow.after-cart,
body.v-custom-step-profile .arrow.after-cart,
body.v-custom-step-shipping .arrow.after-cart,
body.v-custom-step-payment .arrow.after-cart,
body.v-custom-step-payment .arrow.after-identification,
body.v-custom-step-payment .arrow.after-shipping {
  color: var(--color-primary);
}

#continue-shopping-button {
  margin-top: 1rem;
  border: none;
}

.table.cart-items tbody tr {
  border-top: none;
}

.cart-more-options,
.cart-template-holder .cart {
  background-color: #f4f2f2;
  padding: 0;
}

.table.cart-items thead {
  border-radius: 6px;
}

.table.cart-items tbody tr .v-custom-product-item-wrap {
  border-radius: 0 6px 6px 6px;
  padding: 10px;
}

.table.cart-items thead,
.table.cart-items tbody tr .v-custom-product-item-wrap {
  background-color: #fff;
}

.table.cart-items tbody tr td.item-remove {
  margin-left: 0;
}

.table.cart-items i.icon.icon-remove.item-remove-ico::before {
  content: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1558_2890)'%3E%3Cpath d='M22.0002 3.99999H17.0002V1.99999C17.0002 1.46956 16.7895 0.960852 16.4145 0.585779C16.0394 0.210706 15.5307 -7.39098e-06 15.0002 -7.39098e-06L9.00024 -7.39098e-06C8.46981 -7.39098e-06 7.9611 0.210706 7.58603 0.585779C7.21096 0.960852 7.00024 1.46956 7.00024 1.99999V3.99999H2.00024V5.99999H4.00024V21C4.00024 21.7956 4.31631 22.5587 4.87892 23.1213C5.44153 23.6839 6.20459 24 7.00024 24H17.0002C17.7959 24 18.559 23.6839 19.1216 23.1213C19.6842 22.5587 20.0002 21.7956 20.0002 21V5.99999H22.0002V3.99999ZM9.00024 1.99999H15.0002V3.99999H9.00024V1.99999ZM18.0002 21C18.0002 21.2652 17.8949 21.5196 17.7073 21.7071C17.5198 21.8946 17.2655 22 17.0002 22H7.00024C6.73503 22 6.48067 21.8946 6.29314 21.7071C6.1056 21.5196 6.00024 21.2652 6.00024 21V5.99999H18.0002V21Z' fill='%23E3293E'/%3E%3Cpath d='M11 9.99938H9V17.9994H11V9.99938Z' fill='%23E3293E'/%3E%3Cpath d='M15.0003 9.99938H13.0002V17.9994H15.0003V9.99938Z' fill='%23E3293E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1558_2890'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.table.cart-items thead tr th.quantity-price,
.table.cart-items tbody tr td.quantity-price {
  display: block !important;
}

.table.cart-items thead tr th.product-price {
  width: 102px !important;
}

.table.cart-items thead tr th.quantity,
.table.cart-items tbody tr td.quantity {
  order: 5;
}

.table.cart-items thead tr th.product {
  width: calc(100% - 396px) !important;
}

.table.cart-items tbody tr td.product-price .total-selling-price,
.table.cart-items tbody tr td.product-price .best-price,
.table.cart-items tbody tr td.quantity-price .total-selling-price,
.table.cart-items tbody tr td.quantity-price .best-price,
.table.cart-items td.product-name a,
.table.cart-items td.product-name a:hover {
  font-size: 18px;
  font-weight: 500;
  color: #253a59;
}

.table.cart-items tbody tr td.product-price .list-price,
.table.cart-items tbody tr td.quantity-price .list-price {
  font-size: 14px;
}

.table.cart-items td.product-image a,
.table.cart-items td.product-image img {
  width: 55px;
}

.product-image {
  background: none;
}

.table.cart-items thead {
  position: sticky;
  top: 0;
  z-index: 999;
}

.orderform-template .custom-cart-template-wrap {
  display: grid;
}

.orderform-template .cart-template.mini-cart h2 {
  order: 1;
}

.orderform-template .cart-template.mini-cart .summary-template-holder {
  order: 2;
  background: #fff;
  position: static;
  z-index: 999;
}

.orderform-template .payment-confirmation-wrap {
  order: 3;
}

.orderform-template .cart-template.mini-cart .demo-store-warning {
  order: 4;
  margin-top: 20px;
}

.minicart-title {
  order: 5;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px 0;
  font-weight: 500;
  color: #000711;
}

.orderform-template .custom-cart-template-wrap .summary-cart-template-holder {
  order: 6;
}

.glide__arrows {
  display: flex !important;
  position: relative !important;
  justify-content: space-between !important;
  margin: 0 auto !important;
  width: fit-content;
}

/* Grouping sellers */

.table.cart-items tbody tr.first {
  margin-top: 10px;
}

.sellerInfo {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 6px 6px 0px 0px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sellerInfo img {
  max-height: 22px;
}

.sellerNameMinicart {
  clear: both;
  margin-left: 51px;
}

.table.cart-items tbody tr td.product-name .seller {
  display: flex !important;
  flex-direction: column;
  line-height: 1.5rem !important;
}

.sellerNameMinicart,
.table.cart-items tbody tr td.product-name [data-bind='text: sellerName'] {
  color: #000;
  font-size: 14px;
  width: fit-content;
  line-height: 1rem;
  text-align: center;
  padding: 3px 5px;
  border-radius: 10px;
}

.table.cart-items tbody tr td.product-name span[data-i18n='cart.soldBy']::after {
  content: ':';
}

.orderform-template .cart-template.mini-cart .quantity {
  min-width: 15px;
  min-height: 15px;
  border-radius: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #253a59;
  opacity: 0.85;
  left: 0;
}

.mini-cart .item {
  font-size: 16px;
  color: #253a59;
}

.summary-template-holder tbody td,
.orderform-template .cart-template.mini-cart .summary-totalizers tbody td {
  color: #000711;
}

.orderform-template .cart-template.mini-cart .summary-totalizers tfoot tr td {
  font-size: 18px;
}

.orderform-template .cart-template.mini-cart .item .description {
  display: block;
  font-size: 14px;
}

/* Media queries */

@media (min-width: 769px) {
  .table.cart-items tbody tr td.product-name {
    width: calc(100% - 465px) !important;
  }
}

@media (max-width: 690px) {
  body:not(.body-cart) .main-header .logo svg,
  body:not(.body-cart) .main-header .logo img,
  .checkout-steps {
    display: block !important;
  }

  body:not(.body-cart) .main-header .logo::before,
  .sublist-access .header-access span,
  .checkout-steps_item .text span {
    display: none !important;
  }

  body:not(.body-cart) .main-header {
    background: #fff;
    border-bottom: 1px solid #cbcbcb;
  }

  .list-access > .header-access span {
    text-align: left;
    line-height: 1rem;
  }

  .body-cart-vertical .summary-template-holder {
    margin-top: 0;
    padding-bottom: 80px;
  }

  .summary-template-holder .cart-links-bottom {
    background-color: #f4f2f2;
  }

  .full-cart .cart table tbody tr td.item-remove {
    right: 20px;
  }

  .table.cart-items tbody tr td.quantity-price .total-selling-price {
    display: none;
  }

  .full-cart .cart table tbody tr {
    padding: 0;
    border: none !important;
  }

  tr + tr.product-item.first {
    margin-top: 15px !important;
  }

  .sellerInfo {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .orderform-template .cart-template.mini-cart .item span.shipping-date {
    max-width: 45%;
    white-space: normal;
    text-align: left;
  }
}

@media (max-width: 690px) or (max-height: 490px) {
  .orderform-template .cart-template.mini-cart .cart {
    max-height: none;
  }
}
